nul
*.bak

# External libs (added dynamically in release)
Libs/LibStub/
Libs/CallbackHandler-1.0/
Libs/LibDataBroker-1.1/
Libs/LibDBIcon-1.0/
Libs/LibSharedMedia-3.0/
Libs/LibRangeCheck-3.0/
Libs/AceDB-3.0/


# Ace3 is included statically (not ignored)
